<?xml version="1.0"?>
<robot name="g1_29dof_with_inspire_hands" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include the G1 model with inspire hands -->
  <xacro:include filename="$(find unitree_robots_description)/models/g1/g1_29dof_rev_1_0_with_inspire_hand_FTP.urdf"/>
  
  <!-- Include the control configuration -->
  <xacro:include filename="$(find unitree_robots_description)/models/g1/g1_control.xacro"/>

</robot> 